@font-face {
  font-family: GBBoot;
  src: local("GBBoot"), url("../assets/gbboot.woff2")
}

:root {
  --main-color: #c0c0c0;
  --active-color: #ffffff;
  --dark-color: grey;
  --danger-color: #fa7c73;
  --danger-active-color: #ff0000;
  --mobile-threshold: 1000px;
}

/* Disable animations based on accessibility settings */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    animation-delay: 0.01ms !important;
  }
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body,
#app {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.menu {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: hsl(211, 41%, 13%, 0.8);

  display: flex;
  align-items: center;
}

.menu-sidebar {
  height: 100vh;
  margin-left: 2rem;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
}

.info-button {
  width: 12rem;
  text-align: start;
  align-self: flex-start;
  margin-top: 2rem;
}

.info-button p {
  font-size: 1rem;
}

.info-button img {
  width: 100%;
  image-rendering: pixelated;
}

.menu-sidebar-buttons {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.menu-sidebar-buttons * {
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  transition: 0.2s ease;
}

.menu-container {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: safe center;
}

.main-menu {
  gap: 2rem;
  overflow-y: scroll;
  margin: auto 0;
}

@media (max-height: 500px) {
  .main-menu {
    gap: 1rem;
  }
}

@media (max-width: 1000px) {
  .menu {
    flex-direction: column;
  }

  .menu-sidebar {
    flex-direction: row;
    margin-top: 1rem;
    height: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 4rem);
    gap: 0;
  }

  .menu-sidebar-buttons {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .info-button {
    margin-top: 0;
  }

  .info-button img {
    height: 2rem;
    width: unset;
  }

  .menu-container {
    height: calc(100vh - 2rem);
  }
}

@media (max-width: 720px) {
  .menu-sidebar-buttons img {
    height: 2rem !important;
  }
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  grid-column: span 2;
}

@media (max-width: 850px) {
  .button-row {
    flex-direction: column;
    gap: 0rem;
  }

  .load-buttons {
    gap: 1rem !important;
  }
}

.slider-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.slider-row input {
  width: 15rem !important;
}

@media (max-width: 400px) {
  .slider-row input {
    width: 10rem !important;
  }
}

.slider-row p {
  width: 6rem;
  white-space: nowrap;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  scrollbar-width: auto;
  scrollbar-color: var(--main-color) transparent;
  overflow-y: auto;
}

.main-grid {
  overflow-y: unset;
}

@media (max-width: 850px) {

  .options-grid,
  .main-grid {
    display: flex !important;
    flex-direction: column;
  }
}

.input-grid {
  grid-template-columns: repeat(2, 13rem);
  grid-column: span 1 !important;
  gap: 0rem 1rem;
}

@media (max-width: 500px) {
  .input-grid {
    grid-template-columns: repeat(2, 8rem);
  }
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: var(--main-color) transparent;
  gap: 1rem;
}

.input-container>button {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 1.5rem;
}

.menu-grid button {
  text-align: left;
}

.menu-grid h3 {
  text-align: center;
  grid-column: span 2;
}

.browser-topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.browser-topbar input {
  background-color: transparent;
  border: 3px solid var(--main-color);
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  flex: 1 1 0;
  min-width: 15rem;
  color: var(--active-color);
  font-size: 2rem;
  margin-bottom: 0.4rem;
  font-family: GBBoot, monospace;
  transition: border 0.2s ease, color 0.2s ease;
}

.browser-topbar input:hover {
  border: 3px solid var(--active-color);
}

.browser-topbar input:focus-visible {
  border: 3px solid var(--active-color);
}

.browser-topbar input::placeholder {
  color: var(--main-color);
}

.browser-topbar input::-moz-placeholder {
  color: var(--main-color);
}

.browser-topbar input::-webkit-input-placeholder {
  color: var(--main-color);
}

.browser-filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.browser-item {
  aspect-ratio: 1 / 1;
}

.browser-item h3 {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  font-size: 2rem;
}

.browser-item p {
  color: var(--dark-color);
  font-size: 1.5rem;
  text-align: center;
}

.browser-button {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 160 / 144;
  background-image: url("../assets/cartridge.png");
  background-size: cover;
}

.browser-button>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 0;
  display: block;
}

.browser-button>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.browser-button>div>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 4rem;
  image-rendering: pixelated;
  filter: brightness(140%)
}

.browser-button:hover div {
  opacity: 1;
}

.browser-button:focus-visible div {
  opacity: 1;
}

.browser-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2%;
  word-wrap: break-word;
  height: 100%;
}

.browser-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: var(--main-color) transparent;
}


.popup {
  position: fixed;
  z-index: 1;
  bottom: 1rem;
  left: 2rem;
  color: var(--active-color);
  text-shadow: 2px 2px black;
  white-space: pre-line;
}

.loading {
  position: fixed;
  z-index: 1;
  bottom: 1rem;
  right: 2rem;
  height: 2rem;
  image-rendering: pixelated;
}

p,
h3,
h2 {
  color: var(--main-color);
  font-size: 2rem;
  font-family: GBBoot, monospace;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-weight: normal;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -drag: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

br {
  height: 3rem;
}

button {
  color: var(--main-color);
  font-size: 2rem;
  font-family: GBBoot, monospace;
  font-smooth: never;
  -webkit-font-smoothing: none;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

button:hover {
  color: var(--active-color);
}

button:focus-visible {
  color: var(--active-color);
}

button:disabled {
  color: var(--dark-color);
  cursor: inherit;
}

.img-button {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}



.img-button * {
  line-height: 0.8;
  transition: filter 0.2s ease;
  flex-basis: fit-content;
  display: inline;
}

.img-button:hover * {
  filter: brightness(140%);
}

.img-button:focus-visible * {
  filter: brightness(140%);
}


.img-button img {
  height: 1.5rem;
  image-rendering: pixelated;
  margin-bottom: 0.3rem;
  display: inline-block
}


h2 {
  font-size: 3rem;
  text-align: center;
}

.large {
  gap: 1rem;
}

.large img {
  height: 2.5rem;
}

@media (max-height: 500px),
(max-width: 850px) {
  h2 {
    font-size: 2rem;
  }

  .large {
    gap: 0.5rem;
  }

  .large img {
    height: 1.5rem;
  }
}


.featured * {
  filter: sepia(100%) hue-rotate(10deg)
}

.danger-button {
  color: var(--danger-color);
  grid-column: span 2;
  text-align: center !important;
}

.danger-button:hover {
  color: var(--danger-active-color);
}

.danger-button:focus-visible {
  color: var(--danger-active-color);
}

.ui-button {
  position: absolute;
  top: 0;
  margin: 1rem;
  height: 3rem;
  transition: filter 0.2s ease;
}

.ui-button img {
  height: 100%;
  image-rendering: pixelated;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin-top: 1rem;
  height: 4px;
  background: var(--dark-color);
  outline: none;
  border: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1.5rem;
  background: var(--main-color);
  cursor: pointer;
  border: 0;
  border-radius: 0;
  transition: background 0.2s ease;
}

input[type="range"]::-moz-range-thumb {
  width: 1rem;
  height: 1.5rem;
  background: var(--main-color);
  cursor: pointer;
  border: 0;
  border-radius: 0;
  transition: background 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--active-color);
}

input[type="range"]::-moz-range-thumb:hover {
  background: var(--active-color);
}

input[type="range"]:focus-visible::-webkit-slider-thumb {
  background: var(--active-color);
}

input[type="range"]:focus-visible::-moz-range-thumb {
  background: var(--active-color);
}

.break {
  height: 2.5rem;
  grid-column: span 2;
}

.break:after {
  content: '\200b';
}

canvas {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: -1;
}
