@font-face {
  font-family: GBBoot;
  src: local("GBBoot"), url("../assets/gbboot.woff2")
}

:root {
  --main-color: #c0c0c0;
  --active-color: #ffffff;
  --dark-color: grey;
  --danger-color: #fa7c73;
  --danger-active-color: #ff0000;
}

/* Disable animations based on accessibility settings */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    animation-delay: 0.01ms !important;
  }
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body,
#app {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
}

main {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.menu {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: hsl(211, 41%, 13%, 0.8);

  display: flex;
  align-items: center;
}

.menu-sidebar {
  height: 100vh;
  margin-left: 2rem;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
}

.info-button {
  width: 12rem;
  text-align: start;
  align-self: flex-start;
  margin-top: 2rem;
}

.info-button p {
  font-size: 1rem;
}

.info-button img {
  width: 100%;
  image-rendering: pixelated;
}

.menu-sidebar-buttons {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.menu-sidebar-buttons * {
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  transition: 0.2s ease;
}

.menu-container {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.slider-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  scrollbar-width: auto;
  scrollbar-color: var(--main-color) transparent;
  overflow-y: auto;
  grid-column: span 2;
}

.input-grid {
  grid-template-columns: repeat(2, 13rem);
  grid-column: span 1 !important;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: var(--main-color) transparent;
}

.input-container button {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.menu-grid button {
  text-align: left;
}

.menu-grid h3 {
  text-align: center;
  margin-top: 20px;
  grid-column: span 2;
}

.browser-topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.browser-topbar input {
  background-color: transparent;
  border: 3px solid var(--main-color);
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  flex: 1 1 0;
  min-width: 15rem;
  color: var(--active-color);
  font-size: 2rem;
  margin-bottom: 0.4rem;
  font-family: GBBoot, monospace;
  transition: border 0.2s ease, color 0.2s ease;
}

.browser-topbar input:hover {
  border: 3px solid var(--active-color);
}

.browser-topbar input:focus {
  border: 3px solid var(--active-color);
}

.browser-topbar input::placeholder {
  color: var(--main-color);
}

.browser-topbar input::-moz-placeholder {
  color: var(--main-color);
}

.browser-topbar input::-webkit-input-placeholder {
  color: var(--main-color);
}

.browser-filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.browser-item {
  aspect-ratio: 1 / 1;
}

.browser-item h3 {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  font-size: 2rem;
}

.browser-item p {
  color: var(--dark-color);
  font-size: 1.5rem;
  text-align: center;
}

.browser-button {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 160 / 144;
  background-image: url("../assets/cartridge.png");
  background-size: cover;
}

.browser-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 0;
  display: block;
}

.browser-button div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.browser-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 4rem;
  fill: var(--active-color);
}

.browser-button:hover div {
  opacity: 1;
}

.browser-button:focus div {
  opacity: 1;
}

.browser-list {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: var(--main-color) transparent;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2%;
  word-wrap: break-word;
  height: 100%;
}

.browser-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}


.popup {
  position: fixed;
  z-index: 1;
  bottom: 1rem;
  left: 2rem;
  color: var(--active-color);
  text-shadow: 2px 2px black;
  white-space: pre-line;
}

p,
h3 {
  color: var(--main-color);
  font-size: 2rem;
  font-family: GBBoot, monospace;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-weight: normal;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


br {
  height: 3rem;
}

button {
  color: var(--main-color);
  font-size: 2rem;
  font-family: GBBoot, monospace;
  font-smooth: never;
  -webkit-font-smoothing: none;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

button:hover {
  color: var(--active-color);
}

button:focus {
  color: var(--active-color);
}

button:disabled {
  color: var(--dark-color);
  cursor: inherit;
}

.img-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

.img-button:hover * {
  color: var(--active-color);
  fill: var(--active-color);
}

.img-button * {
  fill: var(--main-color);
  transition: fill 0.2s ease, color 0.2s ease;
}

.img-button svg {
  height: 2rem;
}

.danger-button {
  color: var(--danger-color);
  grid-column: span 2;
  text-align: center !important;
  margin-top: 20px;
}

.danger-button:hover {
  color: var(--danger-active-color);
}

.danger-button:focus {
  color: var(--danger-active-color);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin-top: 1rem;
  height: 4px;
  background: var(--dark-color);
  outline: none;
  border: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1.5rem;
  background: var(--main-color);
  cursor: pointer;
  border: 0;
  border-radius: 0;
  transition: background 0.2s ease;
}

input[type="range"]::-moz-range-thumb {
  width: 1rem;
  height: 1.5rem;
  background: var(--main-color);
  cursor: pointer;
  border: 0;
  border-radius: 0;
  transition: background 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--active-color);
}

input[type="range"]::-moz-range-thumb:hover {
  background: var(--active-color);
}

input[type="range"]:focus::-webkit-slider-thumb {
  background: var(--active-color);
}

input[type="range"]:focus::-moz-range-thumb {
  background: var(--active-color);
}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.checkbox * {
  transition: fill 0.2s ease, color 0.2s ease;
}

.checkbox svg {
  height: 2rem;
  fill: var(--main-color);
}

.checkbox:hover * {
  color: var(--active-color);
  fill: var(--active-color);
}

.checkbox:focus * {
  color: var(--active-color);
  fill: var(--active-color);
}

canvas {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: -1;
}
