@font-face {
  font-family: GBBoot;
  src: local("GBBoot"), url("../assets/gbboot.woff2")
}

* {
  padding: 0;
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

main {
  position: relative;
  height: 100%;
}

.menu {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: hsl(211, 41%, 13%, 0.8);
}

button {
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: GBBoot;
  font-smooth: never;
  -webkit-font-smoothing: none;

  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #d1d1d1;
  transition: color 0.2s ease;
}

button:hover {
  color: #ffffff;
}

canvas {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
}
