* {
  padding: 0;
  margin: 0;
}
html,
body,
#app {
  height: 100%;
}

main {
  position: relative;
  height: 100%;
}

button {
  margin: 0;
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
canvas {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
}
